<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="QuickServlet" />
    <bean class="adminMenueAS" />
    <bean class="loginK" />
    <bean class="adminMenueK" />
    <bean class="Sachbearbeiter" />
    <bean class="sachbearbeiterCreateK" />
    <bean class="sachbearbeiterDeleteK" />
    <bean class="sachbearbeiterChangeK" />

    <bean class="rowCounter" />

</beans>